

<footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-lg-left">
          <p class="social"><a href="#" class="external facebook wow fadeInUp"><i class="fa fa-facebook"></i></a><a href="#" data-wow-delay="0.2s" class="external instagram wow fadeInUp"><i class="fa fa-instagram"></i></a><a href="patelpulkit524@gmail.com" data-wow-delay="0.6s" class="email wow fadeInUp"><i class="fa fa-envelope"></i></a></p>
        </div>
        <!-- /.6-->
        <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
          <p>© 2020 My Personal Portfolio. All rights reserved.</p>
        </div>
        <div class="col-12 mt-4">
          <p class="by1">Website By <a href='/'>Pulkit Patel</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript files-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="/vendor/jquery.counterup/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"> </script>
  <script src="/js/front.js"></script>
</body>
</html>