<%- include('partials/header') %>
    <!-- Intro Image-->
    <section id="intro" style="background: url(/img/hello.gif) center center no-repeat; background-size: cover;" class="intro-section pb-2">
      <div class="container text-center">
        <h1 data-animate="fadeInDown" class="text-shadow mb-5">I am Pulkit</h1>
        
        <a href="/about"><button data-animate="fadeInUp"  class="btn btn-primary" id="about_button">Get to know me</button></a>
      </div>
    </section>

    <%- include('partials/footer') %>
