<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IMy Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto + Roboto Slab-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700%7CRoboto:400,700,300">
    <!-- owl carousel-->
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- animate.css -->
    <link rel="stylesheet" href="/vendor/animate.css/animate.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Leaflet CSS - For the map-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/logo-1.png">

  </head>

  <body>

    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container"><a href="#intro" class="navbar-brand scrollTo"><img src="/img/customers/logo-1.svg" alt="nothing" style="width: 50px;"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><span class="fa fa-bars" style="color: white;"></span></button>
          <div id="navbarcollapse" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="/" class="nav-link link-scroll">Intro</a></li>
              <li class="nav-item"><a href="/about" class="nav-link link-scroll">About</a></li>
              <li class="nav-item"><a href="/services" class="nav-link link-scroll">Services</a></li>
              <li class="nav-item"><a href="/projects" class="nav-link link-scroll">My work</a></li>
              <li class="nav-item"><a href="/contact" class="nav-link link-scroll">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

      <section id="services" class="bg-gradient services-section">
        <div class="container">
          <header class="text-center">
            <h2 data-animate="fadeInDown" class="title">Services</h2>
          </header>
          <div class="row services text-center">
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-search"></i></div>
              <h3 class="heading mb-3 text-400">Web Develpment</h3>
              <p class="text-left description">On on produce colonel pointed. Just four sold need over how any. In to september suspicion determine he prevailed admitting. On adapted an as affixed limited on. Giving cousin warmly things no spring mr be abroad. Relation breeding be as repeated strictly followed margaret. One gravity son brought shyness waiting regular led ham.</p>
            </div>
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-html5"></i></div>
              <h3 class="heading mb-3 text-400">Web Designing</h3>
              <p class="text-left description">Manor we shall merit by chief wound no or would. Oh towards between subject passage sending mention or it. Sight happy do burst fruit to woody begin at. Assurance perpetual he in oh determine as.</p>
            </div>
            <div data-animate="fadeInUp" class="col-lg-4">
              <div class="icon"><i class="fa fa-tachometer"></i></div>
              <h3 class="heading mb-3 text-400">PHP Web Development</h3>
              <p class="text-left description">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh. Luckily cheered colonel me do we attacks on highest enabled. Tried law yet style child. Bore of true of no be deal.</p>
            </div>
          </div>
          <hr data-animate="fadeInUp">
          <div data-animate="fadeInUp" class="text-center">
            <p class="lead">Would you like to know more or just discuss something?</p>
            <p><a href="/contact" class="btn btn-outline-light link-scroll">Contact me</a></p>
          </div>
        </div>
      </section>

      <footer class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center text-lg-left">
              <p class="social"><a href="#" class="external facebook wow fadeInUp"><i class="fa fa-facebook"></i></a><a href="#" data-wow-delay="0.2s" class="external instagram wow fadeInUp"><i class="fa fa-instagram"></i></a><a href="patelpulkit524@gmail.com" data-wow-delay="0.6s" class="email wow fadeInUp"><i class="fa fa-envelope"></i></a></p>
            </div>
            <!-- /.6-->
            <div class="col-md-6 text-center text-lg-right mt-4 mt-lg-0">
              <p>© 2020 My Personal Portfolio. All rights reserved.</p>
            </div>
            <div class="col-12 mt-4">
              <p class="by1">Website By <a href='/'>Pulkit Patel</a></p>
            </div>
          </div>
        </div>
      </footer>
      <!-- JavaScript files-->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
      <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
      <script src="/vendor/waypoints/lib/jquery.waypoints.min.js"></script>
      <script src="/vendor/jquery.counterup/jquery.counterup.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js"> </script>
      <script src="/js/front.js"></script>
    </body>
  </html>